<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twx.module_weather">

    <application>
        <activity android:name="com.twx.module_weather.ui.activity.HuangLiActivity" android:launchMode="singleTop"></activity>
        <activity android:name="com.twx.module_weather.ui.activity.DayDetailsActivity" android:launchMode="singleTop"/>
        <activity android:name="com.twx.module_weather.ui.activity.AirActivity" android:launchMode="singleTop"/>
        <activity
            android:name="com.twx.module_weather.ui.activity.CityManageActivity"
            android:theme="@style/DefaultCityPickerTheme" android:launchMode="singleTop"/>
        <activity android:name="com.twx.module_weather.ui.activity.WeatherActivity" android:launchMode="singleTop" />
    </application>

</manifest>