<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twx.clock">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALAR" /> <!-- 10.0专属,在其他应用上层展示 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />




    <application
        android:name="com.twx.clock.base.MainBaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/TwoTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup,android:label">
        <activity android:name="com.twx.clock.ui.activity.StopWatchViewActivity"></activity>

        <receiver android:name="com.twx.clock.ui.widget.desk.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="action_one" />
                <action android:name="action_two" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <receiver
            android:name="com.twx.clock.broadcast.AlarmClockReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.twx.clock.broadcast.BroadcastChangeReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.twx.clock.ui.activity.AddClockViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.twx.clock.broadcast.ChimeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action_custom_view_options_cancel" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.twx.clock.service.TellTimeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.twx.clock.service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.twx.clock.service.VideoLiveWallpaper"
            android:label="壁纸"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>

        <activity
            android:name="com.twx.clock.ui.activity.BeginViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twx.clock.ui.activity.MoreViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.twx.clock.ui.activity.TellTimeViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.twx.clock.ui.activity.ClockViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.twx.clock.ui.activity.SkinViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.twx.clock.ui.activity.SettingViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.twx.clock.ui.activity.LockScreenViewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.alarmclock.ui.activity.LockScreenActivity" />
        <activity
            android:name="com.twx.clock.ui.activity.MainViewActivity"
            android:launchMode="singleTask"></activity> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ddcac98eb063685a548b6e9378c918cf" />

        <service android:name="com.amap.api.location.APSService" />


    </application>


    <queries>
            <package android:name="com.tencent.mm" />
            <package android:name="com.eg.android.AlipayGphone" />
            <package android:name="com.tencent.mobileqq" />
    </queries>

</manifest>