<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twx.module_tool">


    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>

        <activity android:name="com.twx.module_tool.activity.RulerActivity2"/>
        <activity android:name="com.twx.module_tool.activity.BankProofreadActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.twx.module_tool.activity.CoinProofreadActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.twx.module_tool.activity.RulerProofreadActivity"
            android:screenOrientation="landscape"/>
       <activity android:name="com.twx.module_tool.activity.HorizontalActivity"/>
        <activity android:name="com.twx.module_tool.activity.DistanceActivity"/>
        <activity android:name="com.twx.module_tool.activity.CycleRulerActivity"/>
        <activity android:name="com.twx.module_tool.activity.SoundActivity"/>
        <activity android:name="com.twx.module_tool.activity.MirrorActivity"/>
        <activity android:name="com.twx.module_tool.activity.HandleActivity"/>
        <activity android:name="com.twx.module_tool.activity.CompassActivity"/>
        <activity android:name="com.twx.module_tool.activity.ProofreadActivity"/>
        <activity android:name="com.twx.module_tool.fangdai.HomeActivity_loan"/>
        <activity android:name="com.twx.module_tool.fangdai.ResultActivity"/>



    </application>
</manifest>